.header {
  background-color: $dark-bg;
  margin-bottom: $xl-size;
  padding: $m-size 0;
}

.header__title {
  font-size: $l-size;
  color: white;
  margin: 0;
}

.header__subtitle {
  font-size: $m-size;
  color: $light-blue;
  margin: 0;
  font-weight: normal;
}
